{{#if collection.dataFetched}}
    {{#each meta.panels}}
        <table class="table table-striped dataTable">
            <thead>
            <tr>
                {{#each fields}}
                    <th class="{{#isSortable ../../module this}}sorting{{#eq ../../../orderBy.field name}}_{{../../../../orderBy.direction}}{{/eq}} orderBy{{name}}{{/isSortable}}{{#if widthClass}} {{widthClass}}{{/if}}"
                        {{#if styles}} style="{{styles}}"{{/if}}
                        {{#if name}} data-fieldname="{{name}}"{{/if}} data-orderby="{{orderBy}}">
                 <span>
                     {{str label ../../module}}
                 </span>
                    </th>
                {{/each}}
            </tr>
            </thead>
            <tbody>
            {{#each ../collection.models}}
                <tr name="{{module}}_{{attributes.id}}" class="single">
                    {{#each ../fields}}
                        <td{{#if align}} class="{{align}}"{{/if}}>
                            {{field ../../../this model=../this template=../../../viewName}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/each}}
    {{#unless collection.length}}
        <div class="block-footer">
            {{str "LBL_NO_DATA_AVAILABLE"}}
        </div>
    {{/unless}}
{{/if}}


